html {
  background-image: url(https://bazarhorizonte.vtexassets.com/arquivos/ids/337670-800-800?v=636304602433300000&width=800&height=800&aspect=true);
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: #d8c2a4;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(162, 196, 212);
}

.gif {
  text-align: left;
 padding: 15px;
}

.agrupador{
  display: flex;
  align-items: center;

}
  
.imagem-destaque{
  width: 80%;

 
}

.conteudo{
  width: 68%;
  

  
}
h2{
  text-align: center;
}