@font-face {
  font-family: Short;
  src: url(./fonts/ShortStack-Regular.ttf)
}

html {
    background-image: url(https://bazarhorizonte.vtexassets.com/arquivos/ids/337670-800-800?v=636304602433300000&width=800&height=800&aspect=true);
  }

header{
    font-size: 800%;
     
  }
header:hover, header:active {font-size: 880%;}
body{
  
    width: 1500px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    padding: 0 0px 20px 20px;
    border: 5px solid rgb(162, 196, 212);
    border-radius: 25px 25px 25px 25px;
    font-family: Short;
    

 }
 nav{
  background-color: rgb(162, 196, 212);
  display: flex;
  flex-wrap: wrap;
  margin-left: 900px;
  color: rgb(248, 248, 248);
  font-size: xx-large;
  margin-top: 0px;
  border-radius: 25px 0px 0px 25px;
  font-size: 300%;
  
  }
ul{
 
  display: flex;
  justify-content: space-around;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;

}
ul li {
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
}
li:hover, li:active {font-size: 120%;}
p{
    color: rgb(161, 161, 242);
    font-size: 150% 
  }
main{
    display: flex;
    gap: 20px;
    justify-content: space-around;
  }
.controle-artigos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
  }

aside{
    width: 30;
  
  }
  
.agrupador{
    display: flex;
    align-items: center;
  
  }
 .imagem-destaque{
    width: 80%;
  
  }

.conteudo{
    margin: -9px;
    margin-top: -115px;
    margin-left: -26px;
}
  
 h2{
    text-align: center;
    font-size: 280%; 
 } 
h2:hover, h2:active {font-size: 330%;}
  
h3{
    text-align: center;
    font-size: 280%; 
   }

 h3:hover, h3:active {font-size: 330%;}

.controle{
    display: flex;
    justify-content: space-between;
}
.texto_video{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.video{
  display: flex;
  border: 10px dashed rgb(121, 134, 211);
  border-radius: 10px;
}
h5{
  text-align: center;
  font-size: 280%; 
 }

h5:hover, h5:active {font-size: 330%;}

h4 {
  text-align: center;
  font-size: 555%; 


}


.tirinhas_imagens{
  display: flex;
  gap: 170px;
  width: 500%;
}

.tirinhas_imagens2{
  display: flex;
  gap: 170px;
  width: 500%;
}
 
.tirinhas_imagens img{
  border: 10px dashed rgb(121, 134, 211);
}
.tirinhas_imagens2 img{
  border: 10px dashed rgb(121, 134, 211);
}

