*{
    margin:0;
    padding: 0;
    box-sizing: border-box ;
  
  }
  
  body {
      min-height:100vh;
      background: rgb(20, 6, 59);
  
    }
    
    
  .container {
        position:relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
  
  .Bolhas {
      position: absolute;
      display: flex;
  }
  
  .Bolhas span {
      width: 30px;
      height: 30px ;
      background:  #f32f9b;
      margin: 0 4px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #f32f9b44,
      0 0 50px #f32f9b,
      0 0 100px #f32f9b;
      animation: animar calc(40s/var(--i)) linear infinite;
  }
  
  @keyframes animar {
     0%{
        transform: translateY(100vh) scale(0);
     }
     100%{
      transform: translateY(-10vh) scale(1);
    }
     }
  
    
  
  .Bolhas span:nth-last-of-type(even) {
    background: #4c2ff3;
    box-shadow: 0 0 0 10px #4c2ff344,
      0 0 50px #4c2ff3,
      0 0 100px #4c2ff3;
  }
  .texto-centralizado {
    position: absolute;
    top: 18%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    font-weight: bold;
    z-index: 10; /* Garante que o texto fique acima da animação */
    pointer-events: none; /* Impede que o texto bloqueie interações com a animação */
  }
  